@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.see-all {
  width: 149px;
  height: 40px;
  top: 2909px;
  left: 645px;
  color: rgba(162, 170, 123, 1);
  gap: 0px;
  border-radius: 88px;
  opacity: 1;
  border: 2px solid rgba(162, 170, 123, 1);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.hero-image img {
  object-fit: cover !important;
}

@layer utilities {
  .animate-visible {
    opacity: 1 !important;
    transform: translateY(0) !important;
  }
}

@media (max-width: 400px) {
  .hero-image {
    height: 250px !important;
  }
}
